{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
{% endif %}
<h1>Rejestracja:</h1>

  <form class="form-group" action="{% url 'rejestracja' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
  <label class="col-form-label" for="inputDefault">Login</label>
  <input type="text" class="form-control" placeholder="Login" id="username" name="username">

  <label for="exampleInputPassword1">Haslo</label>
      <input type="password" class="form-control" name="haslo1" id="haslo1" placeholder="Wpisz haslo">

  <label for="exampleInputPassword1">Powtorz haslo</label>
          <input type="password" class="form-control" name="haslo2" id="haslo2" placeholder="Wpisz haslo jeszcze raz albo ta cienciwa zaspiewa tango">
<br>
<input type="submit" class="btn btn-primary" value="Rejestracja"/>
</div>

  </form>

{% endblock %}
